body {
  font-family: -apple-system, "BlinkMacSystemFont", "avenir next", "avenir",
    "helvetica neue", "helvetica", "ubuntu", "roboto", "noto", "segoe ui",
    "arial", "sans-serif";
  /* font-weight: 300;
  font-size: 16px;
  margin: 0;*/
  padding: 0;
}

.bus-1-bg {
  background-color: #d2223e;
}
.bus-2-bg {
  background-color: #5ab7e8;
}
.bus-3-bg {
  background-color: #005aab;
}
.bus-4-bg {
  background-color: #ef5189;
}
.bus-5-bg {
  background-color: #00abcd;
}
.bus-6-bg {
  background-color: #5e1e79;
}
.bus-7-bg {
  background-color: #f8981c;
}
.bus-8-bg {
  background-color: #a3238e;
}
.bus-9-bg {
  background-color: #b0b91b;
}
.bus-10-bg {
  background-color: #008f4c;
}
.bus-11-bg {
  background-color: #008f4c;
}
